.div-navbar {
    background-color: #5d001e;
    color: #e3afbc ;
    max-width: 18vmax;
    height: 100%;
    padding: 40px 1% 0 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.img-div img {
    height: auto;
    width: 100%;
}

nav ul{
    list-style-type: none;
    padding: 0 0 0 2vmax;
    font-size: 20px;
}

nav ul li {
    padding: 1vmax 0 1vmax 0;
}

nav ul li span {
    cursor: pointer;
}

.socials {
    position: relative;
    top: 2vmax;
    height: 2vmax;
}

a {
    color: #e3afbc ;
}

.socials-icon {
    height: 100%;
    padding: 0 0.5vmax 0 0.5vmax;
    cursor: pointer;
    border: 2px solid #5d001e;
}

nav ul li span:hover, .socials-icon:hover{
    color: #ee4c7c;
    border-bottom: 2px solid #ee4c7c;
}