.disclaimerPage {
    background-color: #9A1750;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    color: #e3afbc ;
    line-height: 5vh;
    padding: 2vmax;
    font-size: 20px;
}

.disclaimerPage a:hover {
    color: #5d001e;
    border-bottom: 1px solid #5d001e;
}

